# see https://help.github.com/articles/dealing-with-line-endings
# default
* binary

# Declare files that will always have LF line endings on checkout.
*.el text eol=lf
.gitattributes text eol=lf
.gitignore text eol=lf

# Declare files that will always have CRLF line endings on checkout.
*.bat text eol=crlf

# binaries
*.png binary
*.jpg binary
*.exe binary
*.dll binary







# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain
